{% for sshpubkey in munin_async_sshpubkeys %}
no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-pty,no-user-rc,command="{{ munin_async_clientbin }} --spoolfetch" {{ sshpubkey }}
{% endfor %}
